body {
    margin: 0;
    background: url(https://avatars.mds.yandex.net/get-kinopoisk-post-img/2268018/8f704b6f512349a8cec9a93878489f85/orig) no-repeat fixed;

}
*body {
    font-family: roboto;
}
.text {
    max-width: 65%;
    background: rgba(245, 236, 236, 0.8);
    margin-left: 17%;
    border-radius: 7px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
}
h2 {
    text-align: center;
}
.img {
    max-width: 100%;
    display: flex;
    margin-top: 0;

}
p {
    color: #000000;
    font-size: 1.4em;
}
ul {
    color: #000000;
    font-size: 1em;
    list-style: none;

}
h1 {
    text-align: center;
}
a {
    text-decoration: none;
}
.up {
    width: 80px;
    bottom: 5%;
    position:fixed;
    right: 5%;
    filter:brightness(0) invert(1);
    opacity: .3;
}
.up:hover {
    opacity: 1;
}
.up:active {
    width: 75px;
}
.navigation {
    background-color: rgba(255, 255, 255, 0.767);
    max-width: 250px;
    position:fixed;
    right: 1%;
    bottom: 75%;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}
@media (max-width: 1500px) {
    .text {
        max-width: 800px;
        margin-left: 10%;
        border-radius: 7px;
        padding-left: 30px;
        padding-right: 30px;
        font-family: 'Roboto', sans-serif;
    }
    p {
        font-size: 1.1em;
    }
    ul {
        display: flex;
        justify-content: flex-start;
        font-size: 0.86em;
        flex-wrap: wrap;

    }
    .navigation {
        max-width: 220px;
        position:fixed;
        right: 0.5%;
        bottom: 75%;
        border-radius: 10px;
        font-family: 'Roboto', sans-serif;
    }
    .up {
        bottom: 10%;
        right: 6%;
    }
    h2 {
        font-weight: 400;
    }
}
